<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528050320012-5hh9pqi21h1ugtibbclbvrfenn86f8jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528050320012-5hh9pqi21h1ugtibbclbvrfenn86f8jj</string>
	<key>API_KEY</key>
	<string>AIzaSyBYcjh65_0qGoR8vRf6DDkUhMoNULHe_LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>528050320012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ilaydunaytsev.kikerDYPstats</string>
	<key>PROJECT_ID</key>
	<string>kickerstat</string>
	<key>STORAGE_BUCKET</key>
	<string>kickerstat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528050320012:ios:485b603fa4011ba178c1a9</string>
</dict>
</plist>